.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app .header {
	align-self: flex-start;
	font-size: 26px;
}

.app ul {
	list-style: none;
	padding: 0;
	display: flex;
}

.app ul li {
	margin: 0 10px;
}

.app a {
	text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
	color: #40a4c8;
	text-decoration: underline;
}
